/* Styles go here */


.html-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=HTML") no-repeat center;

}
.css-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=CSS") no-repeat center;

}
.js-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=JS") no-repeat center;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}

.accord {
	position: absolute;
	top: 50px;
}

.ui-tabs .ui-tabs-panel {
	width: 100%;	
	height: 800px;
	padding: 0px;
}
#mappe {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 900px;
}

#map_canvas {
	width:   800px;
	height:  500px;
	margin:  0;
	padding: 0;
}